# Introduction to Python programming

## Variables and types

### Symbol names

Variable names in Python can contain alphanumerical characters `a-z`, `A-Z`, `0-9` and some special characters such as `_`. Normal variable names must start with a letter.

By convention, variable names start with a lower-case letter, and Class names start with a capital letter.

In addition, there are a number of Python keywords that cannot be used as variable names. These keywords are:

    and, as, assert, break, class, continue, def, del, elif, else, except,
    exec, finally, for, from, global, if, import, in, is, lambda, not, or,
    pass, print, raise, return, try, while, with, yield

Note: Be aware of the keyword `lambda`, which could easily be a natural variable name in a scientific program. But being a keyword, it cannot be used as a variable name.

### Assignment



The assignment operator in Python is `=`. Python is a dynamically typed language, so we do not need to specify the type of a variable when we create one.

Assigning a value to a new variable creates the variable:

In [1]:
# variable assignments
x = 1.0
my_variable = 12.2

Although not explicitly specified, a variable does have a type associated with it. The type is derived from the value that was assigned to it.

In [3]:
print (type(x))

<class 'float'>

If we assign a new value to a variable, its type can change.

In [4]:
x = 1

In [5]:
print (type(x))

<class 'int'>

If we try to use a variable that has not yet been defined we get an `NameError`:

### Fundamental types

In [6]:
# integers
x = 1
print (type(x))

<class 'int'>

In [7]:
# float
x = 1.0
print (type(x))

<class 'float'>

In [9]:
# boolean
b1 = True
b2 = False

print (type(b1))

<class 'bool'>

In [10]:
# complex numbers: note the use of `j` to specify the imaginary part
x = 1.0 - 1.0j
print (type(x))

<class 'complex'>

In [11]:
print (x)

(1-1j)

In [12]:
print( x.real, x.imag)

1.0 -1.0

## Operators and comparisons

Most operators and comparisons in Python work as one would expect:

* Arithmetic operators `+`, `-`, `*`, `/`, `//` (integer division), '**' power

In [ ]:
print  (1 + 2, 1 - 2, 1 * 2, 1 / 2)

3 -1 2 0

In [13]:
print  (1.0 + 2.0, 1.0 - 2.0, 1.0 * 2.0, 1.0 / 2.0)

3.0 -1.0 2.0 0.5

In [14]:
# Integer division of float numbers
print  (3.0 // 2.0)

1.0

In [15]:
# Note! The power operators in python isn't ^, but **
print (2 ** 2)

4

Note: The `/` operator always performs a floating point division in Python 3.x.
This is not true in Python 2.x, where the result of `/` is always an integer if the operands are integers.
to be more specific, `1/2 = 0.5` (`float`) in Python 3.x, and `1/2 = 0` (`int`) in Python 2.x (but `1.0/2 = 0.5` in Python 2.x).

* The boolean operators are spelled out as the words `and`, `not`, `or`.

In [16]:
print  (True and False)

False

In [17]:
print (not False)

True

In [18]:
print (True or False)

True

* Comparison operators `>`, `<`, `>=` (greater or equal), `<=` (less or equal), `==` equality, `is` identical.

In [19]:
print  (2 > 1, 2 < 1)

True False

In [20]:
print  (2 > 2, 2 < 2)

False False

In [21]:
print (2 >= 2, 2 <= 2)

True True

In [23]:
# equality
print ([1,2] == [1,2])

True

In [24]:
# objects identical?
l1 = l2 = [1,2]

print ( l1 is l2)

True

## Compound types: Strings, List and dictionaries

### Strings

Strings are the variable type that is used for storing text messages.

In [ ]:
s = "Hello world"
print type(s)

<type 'str'>

In [ ]:
# length of the string: the number of characters
print len(s)

11

In [ ]:
# replace a substring in a string with somethign else
s2 = s.replace("world", "test")
print s2

Hello test

We can index a character in a string using `[]`:

In [ ]:
print s[0]

**Heads up MATLAB users:** Indexing start at 0!

We can extract a part of a string using the syntax `[start:stop]`, which extracts characters between index `start` and `stop` -1 (the character at index `stop` is not included):

In [ ]:
print s[0:5]

Hello

In [ ]:
print s[4:5]

o

If we omit either (or both) of `start` or `stop` from `[start:stop]`, the default is the beginning and the end of the string, respectively:

In [ ]:
print s[:5]

Hello

In [ ]:
print s[6:]

world

In [ ]:
print  s[:]

Hello world

We can also define the step size using the syntax `[start:end:step]` (the default value for `step` is 1, as we saw above):

In [ ]:
print s[::1]

Hello world

In [ ]:
print s[:2:1]

He

This technique is called *slicing*. Read more about the syntax here: http://docs.python.org/release/2.7.3/library/functions.html?highlight=slice#slice

Python has a very rich set of functions for text processing. See for example http://docs.python.org/2/library/string.html for more information.

#### String formatting examples

In [ ]:
print "str1", "str2", "str3"  # The print statement concatenates strings with a space

str1 str2 str3

In [ ]:
print "str1", 1.0, False, -1j  # The print statements converts all arguments to strings

str1 1.0 False -1j

In [ ]:
print "str1" + "str2" + "str3" # strings added with + are concatenated without space

str1str2str3

In [ ]:
print "value = %f" % 1.0       # we can use C-style string formatting

In [ ]:
# this formatting creates a string
s2 = "value1 = %.2f. value2 = %d" % (3.1415, 1.5)

print s2

value1 = 3.14. value2 = 1

In [ ]:
# alternative, more intuitive way of formatting a string
s3 = 'value1 = {0}, value2 = {1}'.format(3.1415, 1.5)

print s3

value1 = 3.1415, value2 = 1.5

### List

Lists are very similar to strings, except that each element can be of any type.

The syntax for creating lists in Python is `[...]`:

In [ ]:
l = [1,2,3,4]
print type(l)
print l

<type 'list'>
[1, 2, 3, 4]

We can use the same slicing techniques to manipulate lists as we could use on strings:

In [ ]:
print l

print l[1:3]

print l[::2]

[1, 2, 3, 4]
[2, 3]
[1, 3]

**Heads up MATLAB users:** Indexing starts at 0!

In [ ]:
print l[0]

1

Elements in a list do not all have to be of the same type:

In [ ]:
l = [1, 'a', 1.0, 1-1j]

print l

[1, 'a', 1.0, (1-1j)]

Python lists can be inhomogeneous and arbitrarily nested:

In [ ]:
nested_list = [1, [2, [3, [4, [5]]]]]

print nested_list

[1, [2, [3, [4, [5]]]]]

Lists play a very important role in Python. For example they are used in loops and other flow control structures (discussed below). There are a number of convenient functions for generating lists of various types, for example the `range` function:

In [ ]:
start = 10
stop = 30
step = 2

print range(start, stop, step)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
# in python 3 range generates an interator, which can be converted to a list using 'list(...)'.
# It has no effect in python 2
print list(range(start, stop, step))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
print list(range(-10, 10))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print s

Hello world

In [ ]:
# convert a string to a list by type casting:
s2 = list(s)

print s2

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
# sorting lists
s2.sort()

print s2

[' ', 'H', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

#### Adding, inserting, modifying, and removing elements from lists

In [ ]:
# create a new empty list
l = []

# add an elements using `append`
l.append("A")
l.append("d")
l.append("d")

print l

['A', 'd', 'd']

We can modify lists by assigning new values to elements in the list. In technical jargon, lists are *mutable*.

In [ ]:
l[1] = "p"
l[2] = "p"

print l

['A', 'p', 'p']

In [ ]:
l[1:3] = ["d", "d"]

print l

['A', 'd', 'd']

Insert an element at an specific index using `insert`

In [ ]:
l.insert(0, "i")
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(5, "t")

print l

['i', 'n', 's', 'e', 'r', 't', 'A', 'd', 'd']

Remove first element with specific value using 'remove'

In [ ]:
l.remove("A")

print l

['i', 'n', 's', 'e', 'r', 't', 'd', 'd']

Remove an element at a specific location using `del`:

In [ ]:
del l[7]
del l[6]

print l

['i', 'n', 's', 'e', 'r', 't']

See `help(list)` for more details, or read the online documentation

### Tuples

Tuples are like lists, except that they cannot be modified once created, that is they are *immutable*.

In Python, tuples are created using the syntax `(..., ..., ...)`, or even `..., ...`:

In [ ]:
point = (10, 20)

print point, type(point)

(10, 20) <type 'tuple'>

In [ ]:
point = 10, 20

print point, type(point)

(10, 20) <type 'tuple'>

We can unpack a tuple by assigning it to a comma-separated list of variables:

In [ ]:
x, y = point

print "x =", x
print "y =", y

x = 10
y = 20

If we try to assign a new value to an element in a tuple we get an error:

### Dictionaries

Dictionaries are also like lists, except that each element is a key-value pair. The syntax for dictionaries is `{key1 : value1, ...}`:

In [ ]:
params = {"parameter1" : 1.0,
          "parameter2" : 2.0,
          "parameter3" : 3.0,}

print type(params)
print params

<type 'dict'>
{'parameter1': 1.0, 'parameter3': 3.0, 'parameter2': 2.0}

We can access the values using keys

In [ ]:
print "parameter1 = " , params["parameter1"]
print "parameter2 = " , params["parameter2"]
print "parameter3 = " , params["parameter3"]

parameter1 =  1.0
parameter2 =  2.0
parameter3 =  3.0

In [ ]:
params["parameter1"] = "A"
params["parameter2"] = "B"

# add a new entry
params["parameter4"] = "D"

print "parameter1 = ",  params["parameter1"]
print "parameter2 = ",  params["parameter2"]
print "parameter3 = ",  params["parameter3"]
print "parameter4 = ",  params["parameter4"]

parameter1 =  A
parameter2 =  B
parameter3 =  3.0
parameter4 =  D

If the key dost not exists, it will through an exception

In [ ]:
print "parameter5 = ",  params["parameter5"]

### Default Dictionary

A defaultdict works exactly like a normal dict, but it is initialized with a function (“default factory”) that takes no arguments and provides the default value for a nonexistent key.

A defaultdict will never raise a KeyError. Any key that does not exist gets the value returned by the default factory. For example consider the following example with the default value as 'Vanilla'.

**Note : ** Since default dictionary takes a function as argument, be sure to pass the function object to defaultdict(). Do not call the function.
    - Correct   :  defaultdict(func)
    - Incorrect :  defaultdict(func()).

In [ ]:
from collections import defaultdict
# A function providing default values
def values():
    return 'Vanilla'

# Making an object of the default diictionary with the function defined ablove
ice_cream = defaultdict(values)

# assigning values with keys
ice_cream['Sarah'] = 'Chunky Monkey'
ice_cream['Abdul'] = 'Butter Pecan'

# accessing the value of a key that exists
print ice_cream['Sarah']

# accessing the value of a key that do not exists, will print default value
print ice_cream['Joe']

Chunky Monkey
Vanilla

## Control Flow

### Conditional statements: if, elif, else

The Python syntax for conditional execution of code uses the keywords `if`, `elif` (else if), `else`:

In [ ]:
statement1 = False
statement2 = False

if statement1:
    print "statement1 is True"

elif statement2:
    print "statement2 is True"

else:
    print "statement1 and statement2 are False"

statement1 and statement2 are False

For the first time, here we encounted a peculiar and unusual aspect of the Python programming language: Program blocks are defined by their indentation level.

Compare to the equivalent C code:
``` c
if (statement1)
{
    printf("statement1 is True\n");
}
else if (statement2)
{
    printf("statement2 is True\n");
}
else
{
    printf("statement1 and statement2 are False\n");
}
```
In C blocks are defined by the enclosing curly brakets `{` and `}`. And the level of indentation (white space before the code statements) does not matter (completely optional).

But in Python, the extent of a code block is defined by the indentation level (usually a tab or say four white spaces). This means that we have to be careful to indent our code correctly, or else we will get syntax errors.

#### Examples:

In [ ]:
statement1 = statement2 = True

if statement1:
    if statement2:
        print "both statement1 and statement2 are True"

both statement1 and statement2 are True

In [ ]:
statement1 = False

if statement1:
    print "printed if statement1 is True"

    print "still inside the if block"

In [ ]:
if statement1:
    print "printed if statement1 is True"

print "now outside the if block"

## Loops

In Python, loops can be programmed in a number of different ways. The most common is the `for` loop, which is used together with iterable objects, such as lists. The basic syntax is:

### **`for` loops**:

In [ ]:
for x in [1,2,3]:
    print x

1
2
3

The `for` loop iterates over the elements of the supplied list, and executes the containing block once for each element. Any kind of list can be used in the `for` loop. For example:

In [ ]:
for x in range(4): # by default range start at 0
    print x

0
1
2
3

Note: `range(4)` does not include 4 !

In [ ]:
for x in range(-3,3):
    print x

-3
-2
-1
0
1
2

In [ ]:
for word in ["scientific", "computing", "with", "python"]:
    print word

scientific
computing
with
python

To iterate over key-value pairs of a dictionary:

In [ ]:
for key, value in params.items():
    print key + " = " + str(value)

parameter4 = D
parameter1 = A
parameter3 = 3.0
parameter2 = B

Sometimes it is useful to have access to the indices of the values when iterating over a list. We can use the `enumerate` function for this:

In [ ]:
for idx, x in enumerate(range(-3,3)):
    print idx, x

0 -3
1 -2
2 -1
3 0
4 1
5 2

### List comprehensions: Creating lists using `for` loops:

A convenient and compact way to initialize lists:

In [ ]:
l1 = [x**2 for x in range(0,5)]

print l1

[0, 1, 4, 9, 16]

### `while` loops:

In [ ]:
i = 0

while i < 5:
    print(i)

    i = i + 1

print "done"

0
1
2
3
4
done

Note that the `print("done")` statement is not part of the `while` loop body because of the difference in indentation.

## Functions

A function in Python is defined using the keyword `def`, followed by a function name, a signature within parentheses `()`, and a colon `:`. The following code, with one additional level of indentation, is the function body.

In [ ]:
def func0():
    print "test"

In [ ]:
func0()

test

Optionally, but highly recommended, we can define a so called "docstring", which is a description of the functions purpose and behaivor. The docstring should follow directly after the function definition, before the code in the function body.

In [ ]:
def func1(s):
    """
    Print a string 's' and tell how many characters it has
    """

    print s + " has " + str(len(s)) + " characters"

In [ ]:
help(func1)

Help on function func1 in module __main__:

func1(s)
    Print a string 's' and tell how many characters it has

In [ ]:
func1("test")

Functions that returns a value use the `return` keyword:

In [ ]:
def square(x):
    """
    Return the square of x.
    """
    return x ** 2

In [ ]:
print square(4)

16

We can return multiple values from a function using tuples (see above):

In [ ]:
def powers(x):
    """
    Return a few powers of x
    """
    return x ** 2, x ** 3, x ** 4

In [ ]:
print powers(3)

(9, 27, 81)

In [ ]:
x2, x3, x4 = powers(3)

print x4

16

### Default argument and keyword arguments

In a definition of a function, we can give default values to the arguments the function takes:

In [ ]:
def myfunc(x, p=2, debug=False):
    if debug:
        print "evaluating myfunc for x = " + str(x) + " using exponent p = " + str(p)
    return x**p

If we don't provide a value of the `debug` argument when calling the the function `myfunc` it defaults to the value provided in the function definition:

In [ ]:
print myfunc(5)

25

In [ ]:
print myfunc(5, debug=True)

evaluating myfunc for x = 5 using exponent p = 2
25

If we explicitly list the name of the arguments in the function calls, they do not need to come in the same order as in the function definition. This is called *keyword* arguments, and is often very useful in functions that takes a lot of optional arguments.

In [ ]:
print myfunc(p=3, debug=True, x=7)

evaluating myfunc for x = 7 using exponent p = 3
343

### Unnamed functions (lambda function)

In Python we can also create unnamed functions, using the `lambda` keyword:

In [ ]:
f1 = lambda x: x**2

# is equivalent to

def f2(x):
    return x**2

In [ ]:
print f1(2), f2(2)

4 4

This technique is useful for example when we want to pass a simple function as an argument to another function, like this:

In [ ]:
# map is a built-in python function
print map(lambda x: x**2, range(-3,4))

[9, 4, 1, 0, 1, 4, 9]

In [ ]:
# in python 3 we can use `list(...)` to convert the iterator to an explicit list
print list(map(lambda x: x**2, range(-3,4)))

[9, 4, 1, 0, 1, 4, 9]

## Classes

Classes are the key features of object-oriented programming. A class is a structure for representing an object and the operations that can be performed on the object.

In Python a class can contain *attributes* (variables) and *methods* (functions).

A class is defined almost like a function, but using the `class` keyword, and the class definition usually contains a number of class method definitions (a function in a class).

* Each class method should have an argument `self` as its first argument. This object is a self-reference.

* Some class method names have special meaning, for example:

    * `__init__`: The name of the method that is invoked when the object is first created.
    * `__str__` : A method that is invoked when a simple string representation of the class is needed, as for example when printed.
    * There are many more, see http://docs.python.org/2/reference/datamodel.html#special-method-names

In [ ]:
class Point:
    """
    Simple class for representing a point in a Cartesian coordinate system.
    """

    def __init__(self, x, y):
        """
        Create a new Point at x, y.
        """
        self.x = x
        self.y = y

    def translate(self, dx, dy):
        """
        Translate the point by dx and dy in the x and y direction.
        """
        self.x += dx
        self.y += dy

    def __str__(self):
        return("Point at [%f, %f]" % (self.x, self.y))

To create a new instance of a class:

In [ ]:
p1 = Point(0, 0) # this will invoke the __init__ method in the Point class

print p1         # this will invoke the __str__ method

Point at [0.000000, 0.000000]

To invoke a class method in the class instance `p`:

In [ ]:
p2 = Point(1, 1)

p1.translate(0.25, 1.5)

print p1
print p2

Point at [0.250000, 1.500000]
Point at [1.000000, 1.000000]

Note that calling class methods can modifiy the state of that particular class instance, but does not effect other class instances or any global variables.

That is one of the nice things about object-oriented design: code such as functions and related variables are grouped in separate and independent entities.

## Further reading

* http://www.python.org - The official web page of the Python programming language.
* http://www.python.org/dev/peps/pep-0008 - Style guide for Python programming. Highly recommended.
* http://www.greenteapress.com/thinkpython/ - A free book on Python programming.
* [Python Essential Reference](http://www.amazon.com/Python-Essential-Reference-4th-Edition/dp/0672329786) - A good reference book on Python programming.